<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
<h2><span style="text-decoration: underline; color: #ff0000;">Анекдот для тех кто не понял</span></h2>
<hr />
<h3>Таки...</h3>
<p style="padding-left: 30px;">Прекратите нам тут называть вещи своими именами! Давайте ещё начнём делать правильные выводы, совсем с ума сошли? К чему мы в итоге с вами скатимся? К реальной действительности??!! Абсурд!!!</p>
<hr />
<h3>Для тех кто не понял - второй раз...</h3>
<p style="padding-left: 30px;">Прекратите нам тут называть вещи своими именами! Давайте ещё начнём делать правильные выводы, совсем с ума сошли? К чему мы в итоге с вами скатимся? К реальной действительности??!! Абсурд!!!</p>
<p style="padding-left: 30px;">&nbsp;</p>
<p>А вот и картинка:</p>
<p><img src="https://vraki.net/sites/default/files/inline/images/15_3.jpeg" alt="" width="807" height="446" /></p>
</body>
</html>